.notification {
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--color-background);
  padding: 1rem;
  border-radius: 0.25rem;
  gap: 0.5rem;
}

.notification > video {
  visibility: hidden;
  width: 0;
  height: 0;
}

.notification > .image {
  width: 2.5rem;
  height: 2.5rem;
}

.notification > .info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.info > .callType {
  color: var(--color-subtitle-text);
  font-size: 0.75rem;
}

.info > .callerName {
  color: var(--color-title-text);
}

@media screen and (min-width: 25rem) {
  .notification {
    max-width: 25rem;
  }
}
