.outlet {
  width: 100%;
  height: 100dvh;
}

.info {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.info > .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.75rem;
  overflow-y: scroll;
}

.content::-webkit-scrollbar {
  display: none;
}
