.photo {
  list-style: none;
  background-color: var(--shades-100);
  border-radius: 0.5rem;
  aspect-ratio: 1 / 1;
}

.photo > img {
  border-radius: 0.5rem;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  vertical-align: middle;
}
