.resetPwd {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.resetPwd > span {
  font-size: 2rem;
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media screen and (min-width: 25rem) {
  .resetPwd > span {
    font-size: 1.5rem;
  }
}
