<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <style type="text/css">
      body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Inter', sans-serif;
        background-color: #f0f1f4;
        padding: 1rem;
      }

      header svg {
        height: 3rem;
        cursor: pointer;
        margin: 1rem 0;
      }

      main {
        background-color: white;
        padding: 1rem;
        box-shadow: 1px 2px rgba(0, 0, 0, 0.1);
      }

      main h1 {
        color: #50577a;
        font-weight: 500;
      }

      p span {
        font-weight: 500;
        color: #50577A;
      }

      div {
        margin: 1rem;
        display: flex;
        justify-content: center;
      }

      div a {
        padding: 1rem 2rem;
        background-color: #50577a;
        border-radius: 0.5rem;
        font-size: 1rem;
        color: white;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
      }

      div a:hover,
      div a:active,
      div a:focus {
        background-color: #404258;
      }
    </style>
  </head>
  <body>
    <header>
      <a  href="<%- user.baseUrl %>">
        <svg
          viewBox="0 0 265 81"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle
            cx="35.3878"
            cy="41.3878"
            r="34"
            fill="#f0f1f4"
            stroke="#50577A"
            stroke-width="2.77551"
          />
          <path
            d="M57.6226 62.0191L54.7661 53.4497C57.2349 49.7984 58.1279 45.4745 57.2793 41.2818C56.4307 37.0891 53.898 33.3131 50.1523 30.6557C46.4066 27.9983 41.7027 26.6404 36.9152 26.8346C32.1277 27.0287 27.5824 28.7616 24.1244 31.711C20.6664 34.6605 18.5311 38.6258 18.1153 42.8697C17.6996 47.1137 19.0319 51.3474 21.8643 54.7837C24.6968 58.22 28.8368 60.6251 33.5145 61.5518C38.1922 62.4785 43.0893 61.8637 47.2953 59.8218L57.6226 62.0191Z"
            fill="#404258"
          />
          <path
            d="M11.8315 56.2486C11.7528 56.4847 11.8065 56.7449 11.9724 56.9304C12.1382 57.116 12.3907 57.1985 12.6341 57.1467L22.7304 54.9986C27.0261 57.0248 31.9898 57.621 36.7327 56.6814C41.5556 55.726 45.8415 53.2431 48.7834 49.674C51.7274 46.1024 53.1221 41.6874 52.6875 37.2511C52.2531 32.8158 50.0229 28.6896 46.4382 25.6321C42.8552 22.576 38.1589 20.7903 33.2252 20.5902C28.2915 20.3902 23.4351 21.7885 19.5585 24.5387C15.6804 27.29 13.0393 31.214 12.1529 35.5931C11.2884 39.8644 12.1561 44.2607 14.5811 47.9999L11.8315 56.2486Z"
            fill="#50577A"
            stroke="white"
            stroke-width="1.38776"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M80.0049 65V60.142L99.7214 35.0935V34.7617H80.6448V28.6003H108.561V33.7664L89.6025 58.5068V58.8386H109.224V65H80.0049ZM158.462 32.2497H151.068C150.784 30.6699 150.255 29.2796 149.481 28.0789C148.707 26.8782 147.759 25.8592 146.637 25.0219C145.515 24.1846 144.259 23.5527 142.869 23.1261C141.495 22.6995 140.033 22.4863 138.485 22.4863C135.689 22.4863 133.185 23.1893 130.973 24.5954C128.777 26.0014 127.039 28.0631 125.759 30.7805C124.495 33.4978 123.863 36.8155 123.863 40.7335C123.863 44.6831 124.495 48.0166 125.759 50.734C127.039 53.4513 128.785 55.5051 130.997 56.8954C133.208 58.2856 135.697 58.9808 138.461 58.9808C139.994 58.9808 141.447 58.7754 142.822 58.3646C144.212 57.9381 145.468 57.314 146.59 56.4925C147.711 55.671 148.659 54.6678 149.433 53.4829C150.223 52.2822 150.768 50.9077 151.068 49.3595L158.462 49.3832C158.067 51.7688 157.301 53.9648 156.164 55.9712C155.042 57.9618 153.596 59.6838 151.827 61.1373C150.073 62.5749 148.067 63.6887 145.808 64.4786C143.548 65.2686 141.084 65.6635 138.414 65.6635C134.212 65.6635 130.467 64.6682 127.181 62.6776C123.895 60.6712 121.304 57.8038 119.408 54.0753C117.528 50.3469 116.588 45.8996 116.588 40.7335C116.588 35.5516 117.536 31.1043 119.432 27.3917C121.328 23.6633 123.919 20.8037 127.205 18.8131C130.491 16.8067 134.227 15.8035 138.414 15.8035C140.989 15.8035 143.39 16.1748 145.618 16.9173C147.861 17.644 149.876 18.7183 151.661 20.1402C153.446 21.5463 154.923 23.2683 156.092 25.3063C157.261 27.3285 158.051 29.643 158.462 32.2497ZM173.741 43.3877V65H166.656V16.467H173.647V34.5247H174.097C174.95 32.5657 176.253 31.0096 178.007 29.8563C179.761 28.703 182.051 28.1263 184.879 28.1263C187.375 28.1263 189.556 28.6398 191.42 29.6667C193.3 30.6936 194.753 32.226 195.78 34.264C196.823 36.2862 197.344 38.814 197.344 41.8473V65H190.259V42.7004C190.259 40.0305 189.571 37.9609 188.197 36.4916C186.822 35.0066 184.911 34.264 182.462 34.264C180.787 34.264 179.287 34.6195 177.959 35.3304C176.648 36.0414 175.613 37.0841 174.855 38.4585C174.113 39.8172 173.741 41.4603 173.741 43.3877ZM217.393 65.8057C215.086 65.8057 213.001 65.3792 211.136 64.526C209.272 63.6571 207.795 62.4011 206.705 60.7581C205.631 59.1151 205.093 57.1008 205.093 54.7152C205.093 52.6614 205.488 50.9709 206.278 49.6439C207.068 48.3168 208.135 47.2662 209.477 46.4921C210.82 45.7179 212.321 45.1334 213.98 44.7384C215.639 44.3435 217.329 44.0433 219.051 43.8379C221.232 43.5851 223.001 43.3798 224.36 43.2218C225.718 43.048 226.706 42.7715 227.322 42.3924C227.938 42.0132 228.246 41.3971 228.246 40.5439V40.3781C228.246 38.3085 227.662 36.7049 226.492 35.5674C225.339 34.4299 223.617 33.8612 221.326 33.8612C218.941 33.8612 217.061 34.3904 215.686 35.4489C214.328 36.4916 213.388 37.6528 212.866 38.9325L206.207 37.4158C206.997 35.2041 208.15 33.4188 209.667 32.0602C211.2 30.6857 212.961 29.6904 214.952 29.0742C216.942 28.4423 219.036 28.1263 221.232 28.1263C222.685 28.1263 224.225 28.3001 225.853 28.6477C227.496 28.9794 229.028 29.5956 230.45 30.4961C231.888 31.3966 233.065 32.6842 233.981 34.3588C234.897 36.0177 235.355 38.1742 235.355 40.8283V65H228.436V60.0235H228.151C227.693 60.9398 227.006 61.8403 226.09 62.725C225.173 63.6097 223.996 64.3444 222.559 64.9289C221.121 65.5135 219.399 65.8057 217.393 65.8057ZM218.933 60.1183C220.892 60.1183 222.567 59.7312 223.957 58.9571C225.363 58.183 226.429 57.1718 227.156 55.9238C227.899 54.6599 228.27 53.3091 228.27 51.8715V47.1793C228.017 47.4321 227.527 47.6691 226.801 47.8902C226.09 48.0956 225.276 48.2773 224.36 48.4353C223.443 48.5775 222.551 48.7118 221.682 48.8381C220.813 48.9487 220.086 49.0435 219.502 49.1225C218.127 49.2963 216.871 49.5886 215.734 49.9993C214.612 50.4101 213.711 51.0025 213.032 51.7767C212.369 52.535 212.037 53.5461 212.037 54.81C212.037 56.5636 212.685 57.8907 213.98 58.7912C215.276 59.6759 216.926 60.1183 218.933 60.1183ZM261.784 28.6003V34.2877H241.902V28.6003H261.784ZM247.234 19.8795H254.32V54.3123C254.32 55.6868 254.525 56.7216 254.936 57.4167C255.346 58.0961 255.876 58.5621 256.523 58.8149C257.187 59.0519 257.906 59.1704 258.68 59.1704C259.249 59.1704 259.746 59.1309 260.173 59.0519C260.599 58.9729 260.931 58.9097 261.168 58.8623L262.448 64.7156C262.037 64.8736 261.453 65.0316 260.694 65.1896C259.936 65.3634 258.988 65.4582 257.85 65.474C255.986 65.5056 254.248 65.1738 252.637 64.4786C251.026 63.7835 249.722 62.7092 248.727 61.2558C247.732 59.8023 247.234 57.9776 247.234 55.7816V19.8795Z"
            fill="#50577A"
          />
        </svg>
      </a>
    </header>
    <main>
      <h1>Change your password</h1>
      <p>We have received a password change request for your zChat account <span><%= user.username %></span>.</p>
      <p>
        If you did not ask to change your password, then you can ignore this
        email and your password will not be changed. The link below will active
        for 15 minutes.
      </p>
      <div>
        <a href="<%- user.resetPasswordUrl %>">Reset password</a>
      </div>
    </main>
  </body>
</html>
