.forgotPwd {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.forgotPwd > .title {
  font-size: 2rem;
  font-weight: 500;
}

.forgotPwd > .form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.forgotPwd > .signup {
  text-align: center;
  font-size: 0.8rem;
}

.signup a {
  color: var(--color-secondary-text);
}

.signup span {
  font-weight: 500;
  color: var(--color-primary);
}
