.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  margin: auto;
  padding: 1rem;
  position: absolute;
  background-color: white;
  inset: 0;
  outline: none;
}

.modal > svg {
  width: 4rem;
  height: 4rem;
  margin: 1rem;
}

.modal > h1 {
  font-size: 2rem;
  font-weight: 500;
}

.modal > h2 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: var(--color-secondary-text);
}

@media screen and (min-width: 25rem) {
  .modal {
    height: fit-content;
    width: fit-content;
    border-radius: 0.25rem;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .modal > h1 {
    font-size: 1.5rem;
  }
}
