.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgotPwd {
  display: flex;
  flex-direction: column;
}

.forgotPwd > h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.form label {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.form button {
  margin-top: 1rem;
}

.signup {
  text-align: center;
  text-decoration: none;
  margin: 0.5rem;
}

.signup a {
  text-decoration: none;
  color: var(--color-secondary-text);
}

.signup span {
  font-weight: 500;
  color: var(--color-primary);
}

@media screen and (min-width: 25rem) {
  .forgotPwd > h1 {
    font-size: 1.5rem;
  }

  .form label {
    font-size: 1rem;
  }

  .signup {
    font-size: 0.8rem;
  }
}
