.participants {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.participants > .addParticipant {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.participants > ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.addParticipant > span {
  background: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50%;
}

.addParticipant > div {
  font-size: 1rem;
  font-weight: 500;
}

.addParticipant svg {
  width: 1.5rem;
  height: 1.5rem;
}
