.video {
  padding: 0.25rem;
  background: var(--color-message);
  border-radius: var(--border-radius);
}

.video > video {
  vertical-align: middle;
  border-radius: 0.5rem;
  width: 100%;
}

.video > div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.video span {
  font-size: 0.8rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  margin-top: 0.25rem;
  color: inherit;
}

.video time {
  font-size: 0.75rem;
  margin-left: auto;
}

/* @media screen and (min-width: 25rem) {
  .video {
    width: 90%;
  }
} */
