.nav {
  display: flex;
  border-bottom: 1px solid var(--color-border);
  padding: 0.5rem;
  gap: 0.5rem;
  align-items: center;
  position: sticky;
  top: 0;
}

.nav > span {
  display: flex;
  align-items: center;
  justify-items: center;
}

.nav > .edit {
  margin-left: auto;
  margin-right: 0;
}

.nav svg {
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
}
